#nice
    .box
        background-image: url("NewStart (4) (2)/Assets New/Assets.2.jpg")
        background-position: center center
        background-size: cover
        .textbox
            position: absolute
            top: 350px
            h1
                font-weight: 700px
                margin: 28px 0 55px 0
                font-size: 80px
                color: #bd3f3f
            h2
                font-size: 50px
                color: #d31b1b
            .btn
                margin: 20px
                font-size: 20px
                background-color: #e3dc19
                padding: 13px 34px
                h3
                    color: #ffff
                    font-size: 20px
